langchain
langchain-community 
langchain_text_splitters
python-dotenv
langchain-chroma 
chromadb 
langchain-google-genai
langchain-core
pymupdf
rank_bm25
sentence-transformers 
langchain-huggingface
ragas
datasets